$color-head-footer: #277ebf;
$color-nav: #13529f;
$color-nav-hover: #0080ca;
$color-content: #f7f7f7;
$color-content-title: #666;
$color-orange: #ee7717;
$color-yellow: #fd9e00;
$color-blue: #45adde;
$color-sidebar-gray: #f5f5f5;